name: Flutter CI

on:
  push:
    paths:
      - 'lib/**'
      - 'pubspec.yaml'
      - '.github/workflows/flutter-ci.yml'
  pull_request:
    paths:
      - 'lib/**'
      - 'pubspec.yaml'
      - '.github/workflows/flutter-ci.yml'
jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "stable"
          cache: true

      - name: Flutter version
        run: flutter --version

      - name: Install dependencies
        run: flutter pub get

      - name: Static analysis
        run: flutter analyze

      - name: Run tests
        run: flutter test --no-pub

